version: '3.8'

services:
  db:
    image: postgres:14-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432" 
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    restart: always

  backend:
    build: ./backend 
    container_name: flask_backend
    ports:
      - "5000:5000" 
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/mydatabase
    depends_on:
      - db
    networks:
      - app_network
    restart: always

  frontend:
    image: nginx:alpine
    container_name: nginx_frontend
    ports:
      - "80:80" 
    volumes:

      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - backend
    networks:
      - app_network
    restart: always

networks:
  app_network:
    driver: bridge
